 .col2 {
    height: 35px;
    width: 310px;
    color:red;
    margin-right: 200px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.col2:hover{
  background-color: rgb(219, 219, 13);
  
}
.col1 {
    height: 35px;
    width: 180px;
    color: white;
    font-size: 19px;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: -15px;
}
.col1:hover{
  background-color: rgb(122, 122, 36);
  color: white;
}
.col {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
.col3{
     height: 35px;
    width: 180px;
    color: white;
    font-size: 19px;
    background-color: green;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 25px;
    cursor: pointer;

}
.col3:hover{
  background-color: red;
}

.que {
    color: #d9534f;
    margin-bottom: 10px;
    text-align: center;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
    
}

.option-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    cursor: pointer;
}
.ans{
    background-color: rgb(193, 193, 194);
}
.im{
    margin-top:-250px;
    margin-left: 250px;
    height: 200px;
    width: 200px;
}
.score{
    color: black;
    background-color: rgb(140, 218, 218);
}

.linkedin-name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-top: 50px;
  animation: floatLeftRight 3s infinite ease-in-out;
  position: relative;
}

@keyframes floatLeftRight {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

.linkedin-name:hover {
  text-decoration: underline;
}

.linkedin-name1 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #005983;
  text-decoration: none;
  margin-top: 10px;
  animation: floatLeftRight 3s infinite ease-in-out;
  position: relative;
}

@keyframes floatLeftRight {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

.linkedin-name1:hover {
  text-decoration:underline;
}
/********  Animetion   *******/

.firework-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.fire-spark {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: explode-pop 1.2s ease-out forwards;
  box-shadow: 0 0 15px white;
  opacity: 0.8;
}

@keyframes explode-pop {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translate(30px, -30px);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5) translate(-150px, 150px);
    opacity: 0;
  }
}
.color{
  color: black;
}
.padd {
  width: 70px;
  margin-top: 10px;
  height: auto; 
}

.linkedin-name2 {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  animation: floatLeftRight 3s infinite ease-in-out;
  position: relative;
}

@keyframes floatLeftRight {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(50px); }
  100% { transform: translateX(0); }
}
.linkedin-name2:hover{
  text-decoration: none;
}

.linkedin-name1:hover {
  text-decoration:underline;
}
/********  Animetion   *******/

.firework-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.fire-spark {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: explode-pop 1.2s ease-out forwards;
  box-shadow: 0 0 15px white;
  opacity: 0.8;
}

@keyframes explode-pop {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) translate(30px, -30px);
    opacity: 0.8;
  }
  100% {
    transform: scale(2.5) translate(-150px, 150px);
    opacity: 0;
  }
}
.quecolor{
  background-color: blue;
}

